runs/
venv/
rec_2026-05-26T04-27-33.webm
rec_2026-05-26T04-28-44.webm
truanay.mp4
images.jpg
yolo11n-pose.pt
yolo11n.pt
yolo26n.pt
__pycache__/
.vscode/
yolo11m.pt
yolo11x.pt
yolo11x-pose.pt
yolo11l-pose.pt
yolo11s-pose.pt
yolo11n-pose.pt
yolo11m-pose.pt
main.py
val2/
video/
*.engine
jetson_orin_nano/models/*.engine
*.jpg